  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h1 class="equip">Add New Equipment</h1><br><br>
          <form class="" action="/AddEquipment" method="post">
              <label class="newequip">Equipment-Name:</label>
              <input class="inputequip" type="text" name="equipmentname" required><br><br><br>
              <label class="newequip">Department:</label>
              <input class="inputequip" type="text" name="department" required><br><br><br>
              <label class="newequip">Nomenclature:</label>
              <input class="inputequip" type="text" name="nomenclature" required><br><br><br>
              <label class="newequip">Serial-Number:</label>
              <input class="inputequip" type="number" name="serialnumber" required><br><br><br>
              <label class="newequip">ID:</label>
              <input class="inputequip" type="text" name="id" required><br><br><br>
              <label class="newequip">Model:</label>
              <input class="inputequip" type="text" name="model"><br><br><br>
              <label class="newequip">Manufacturer:</label>
              <input class="inputequip" type="text" name="manufacturer" required><br><br><br>
              <label class="newequip">Contact-Manufacturer:</label>
              <input class="inputequip" type="text" name="contactmanufacturer" required><br><br><br>
              <label class="newequip">Local-Agent:</label>
              <input class="inputequip" type="text" name="localagent" required><br><br><br>
              <label class="newequip">Contact-Agent:</label>
              <input class="inputequip" type="text" name="contactagent" required><br><br><br>
              <label class="newequip">Condition-Code:</label>
              <input class="inputequip" type="text" name="conditioncode" required><br><br><br>
              <label class="newequip">Price:</label>
              <input class="inputequip" type="number" name="price" required><br><br><br>
              <label class="newequip">Installation-Date:</label>
              <input class="inputequip" type="date" name="installationdate" required><br><br><br>
              <label class="newequip">Warrently-Period:</label>
              <input class="inputequip" type="month" name="warrentlyperiod" required ><br><br><br>
              <label class="newequip">Maintenance-Assesment:</label>
              <input class="inputequip" type="text" name="maintenanceassesment" required><br><br><br>
              <button class="submission"type="submit" name="addequipment">Add-Equipment</button><br><br>
          </form>
          </div>
          <div class="clr"></div>
      </div>
      <div class="sidebar">
        <div class="searchform">
          <form id="formsearch" name="formsearch" method="post" action="#">
            <span>
            <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
            </span>
            <input name="button_search" src="images/search.gif" class="button_search" type="image" />
          </form>
        </div>
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Contents</span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="/index">Home</a></li>
            <li><a href="/AddEquipment">Add New Equipment</a></li>
              <li><a href="/Report">Report</a></li>
              <li><a href="/Dailypass">Daily Pass</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
