
<div class="content">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">
                <h1 class="equip">Employee</h1><br><br>
                <form class="" action="/Employee" method="post">
                    <label class="newequip">Name:</label>
                    <input class="inputequip" type="text" name="name" required><br><br><br>
                    <label class="newequip">ID:</label>
                    <input class="inputequip" type="text" name="ID" required><br><br><br>
                    <label class="newequip">E-mail:</label>
                    <input class="inputequip" type="email" name="email" required><br><br><br>
                    <label class="newequip">Mobile-Number:</label>
                    <input class="inputequip" type="text" name="mobilenumber" required><br><br><br>
                    <label class="newequip">Role:</label>
                    <input class="inputequip" type="text" name="role" required><br><br><br>
                    <label class="newequip">Position:</label>
                    <input class="inputequip" type="text" name="position"><br><br><br>
                    <label class="newequip">Department:</label>
                    <input class="inputequip" type="text" name="department" required><br><br><br>
                    <label class="newequip">Qualifications:</label>
                    <input class="inputequip" type="text" name="qualification" required><br><br><br>
                    <label class="newequip">Salary:</label>
                    <input class="inputequip" type="number" name="salary" required><br><br><br>
                    <button class="submission"type="submit" name="submit">Submit</button><br><br>
                </form>
            </div>
            <div class="clr"></div>
        </div>
        <div class="sidebar">
            <div class="searchform">
                <form id="formsearch" name="formsearch" method="post" action="/Emp_table">
            <span>
            <input name="emp_search" class="editbox_search" id="editbox_search" maxlength="80" placeholder="Employee ID" type="text" />
            </span>
                    <button name="button_search"  class="button_search" type="image" ><img src="images/search.gif"></button>
                </form>
            </div>
            <div class="clr"></div>
            <div class="gadget">
                <h2 class="star"><span>Contents</span> Menu</h2>
                <div class="clr"></div>
                <ul class="sb_menu">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/AddEquipment">Add New Equipment</a></li>
                    <li><a href="/Report">Report</a></li>
                    <li><a href="/Dailypass">Daily Pass</a></li>
                    <li><a href="/PPM">PPM</a></li>
                    <li><a href="/Calibration">Calibration</a></li>
                    <li><a href="/store">Store</a></li>

                </ul>
            </div>
        </div>
        <div class="clr"></div>

    </div>
</div>