
<!--================Home Banner Area =================-->

<section class="banner-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h1>Clinical Information System</h1>
                <!-- <a href="abou" class="main_btn">View Department</a> -->
            </div>
        </div>
    </div>
</section>

<!--================End Home Banner Area =================-->



<!--================ Service section start =================-->

<div class="service-area area-padding-top">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>Description.</h3>
            </div>
            <div>
                <p>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-face"></i> -->
                            <i class="fas fa-child"></i>
                        </span>
                    <h3 class="card-service__title">Equipments.</h3>
                    <p class="card-service__subtitle">.</p>
                    <a class="card-service__link" href="/Equipment">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-"></i> -->
                            <i class="fas fa-heartbeat"></i>
                        </span>
                    <h3 class="card-service__title">Employees. </h3>
                    <p class="card-service__subtitle">.</p>
                    <a class="card-service__link" href="Emp_table">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-brain"></i> -->
                            <i class="fas fa-brain"></i>
                        </span>
                    <h3 class="card-service__title">Dashboard.</h3>
                    <p class="card-service__subtitle">.</p>
                    <a class="card-service__link" href="/Dashboard">Learn More</a>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
</div>
<section class="patient-area area-padding">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>Patients<br>
                    In Our ICUs</h3>
            </div>
            <div class="col-md-7 col-xl-8">
                <p>Patients may have a planned admission following surgery, an unexpected admission after an accident or be admitted because of a sudden and critical deterioration to their health.</p>

                <p>ICU teams are multi-disciplinary, made up of highly skilled intensive care nurses, doctors and specialists trained in providing critical care for patients with a variety of medical, surgical and trauma conditions.</p>

                <p>Our hospital ICUs specialise in providing care for particular health conditions or injuries including:</p>


                <p>Major trauma</p>
                <p>Severe burns</p>
                <p>Respiratory failure</p>
                <p>Organ transplants</p>
                <p>Complex spinal surgery</p>
                <p>Cardiothoracic surgery.</p>

            </div>
        </div>

        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/1.jpg" alt="">

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/2.jpg" width="678px" height="240px"alt="">

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/3.jpg" alt="">

                </div>
            </div>

        </div>
    </div>
</section>
<!--================ Patient section end =================

<section class="service text-center" id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">

                <div class="single-service">
                    <div class="single-service-img">
                        <div class="service-img">
                            <img class="heart img-responsive" src="images/service1.png" alt="">
                        </div>
                    </div>
                    <h3>Heart problem</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-service">
                    <div class="single-service-img">
                        <div class="service-img">
                            <img class="brain img-responsive" src="images/service2.png" alt="">
                        </div>
                    </div>
                    <h3>brain problem</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-service">
                    <div class="single-service-img">
                        <div class="service-img">
                            <img class="knee img-responsive" src="images/service3.png" alt="">
                        </div>
                    </div>
                    <h3>knee problem</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-service">
                    <div class="single-service-img">
                        <div class="service-img">
                            <img class="bone img-responsive" src="images/service4.png" alt="">
                        </div>
                    </div>
                    <h3>human bones problem</h3>
                </div>
            </div>
        </div>

    </div>
</section>-->
<!--================ Service section end =================-->
<section class="service-tab-section section">
    <div class="tabs">
        <div class="outer-box clearfix">
            <div class="container">
                <div class="section-title text-center">
                    <h1><span>Some of our </span>Provided
                        <span>Devices</span></h1>
                </div><br><br><br>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#Ultrasound"  data-toggle="tab">Ultrasound</a>
                            </li>
                            <li role="presentation">
                                <a href="#MRI" data-toggle="tab">MRI</a>
                            </li>
                            <li role="presentation">
                                <a href="#LA" data-toggle="tab">Linear accelerator</a>
                            </li>
                            <li role="presentation">
                                <a href="#x-ray" data-toggle="tab">x-ray</a>
                            </li>
                            <li role="presentation">
                                <a href="#diagnostic" data-toggle="tab">Echocardiography</a>
                            </li>
                        </ul>
                    </div><br><br><br>
                    <!--Start single tab content-->
                    <div class="tab-content">
                        <div class="service-box tab-pane fade in active row" id="Ultrasound">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/home/ultrasound.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Ultrasound</h3>
                                    </div>
                                    <div class="text">
                                        <p>Ultrasound is a type of imaging. It uses high-frequency sound waves to look at organs and structures inside the body. it's use to view the heart, blood vessels, kidneys, liver, and other organs. During pregnancy, We use ultrasound to view the fetus. Unlike x-rays, ultrasound does not expose you to radiation
                                            So you'r baby will be completely  safe with us .</p>
                                        <p>During an ultrasound test, you lie on a table. A special technician or doctor moves a device called a transducer over part of your body..</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Wear comfortable, loose-fitting clothing. You may need to remove all clothing and jewelry in the area to be examined.

                                        </li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>You may be asked to wear a gown during the procedure.

                                        </li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Preparation for the procedure will depend on the type of examination you will have. For some scans your may may be instructed not to eat or drink for as many as 12 hours before your appointment. For others you may be asked to drink up to six glasses of water two hours prior to your exam and avoid urinating so that your bladder is full when the scan begins.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="MRI">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/home/mri.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>MRI</h3>
                                    </div>
                                    <div class="text">
                                        <p>A MRI helps a doctor diagnose a disease or injury, and it can monitor how well you’re doing with a treatment. MRIs can be done on different parts of your body. It's especially useful for looking at soft tissues and the nervous system.</p>
                                        <p>MRI can be used for brain , spinal cords , heart , blood vessels , bones joints, and other internal organs .</p>
                                    </div>

                                    <ul class="content-list">
                                        <h4>Before your MRI, let your doctor know if you:</h4>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Have any health problems, such as kidney or liver disease
                                        </li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Recently had surgery
                                        </li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Have any allergies to food or medicine, or if you have asthma
                                        </li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Are pregnant, or might be pregnant
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="LA">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/home/LA.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Linear Accelerator</h3>
                                    </div>
                                    <div class="text">
                                        <p>A medical linear accelerator (LINAC) is the device most commonly used for external beam radiation treatments for patients with cancer.</p>
                                        <ul class="content-list">
                                            <h4>Patient safety is very important and is assured in several ways.</h4>
                                            <li>
                                                <i class="fa fa-dot-circle-o"></i>Before treatment is delivered to the patient, a treatment plan is developed and approved by the radiation oncologist in collaboration with the radiation dosimetrist and medical physicist. The plan is double-checked before treatment is given and quality-assurance procedures are performed to ensure that the treatment will be delivered as planned.
                                            </li>
                                            <li>
                                                <i class="fa fa-dot-circle-o"></i>During treatment, the radiation therapist continuously observes the patient using a closed-circuit television monitor. There is also a microphone in the treatment room so that the patient can speak to the therapist if needed. Port films (x-rays taken with the treatment beam) or other imaging tools such as cone beam CT are checked regularly to make sure that the beam position doesn't vary from the original plan.
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="x-ray">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/home/X-ray.jpeg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>x-ray</h3>
                                    </div>
                                    <div class="text">
                                        <p>An X-ray is a common imaging test that’s been used for decades. It can help your doctor view the inside of your body without having to make an incision. This can help them diagnose, monitor, and treat many medical conditions.</p>
                                        <ul class="content-list">
                                            <li>
                                                <i class="fa fa-dot-circle-o"></i>Always tell your doctor or radiologist if you have metal implants from prior surgeries. These implants can block X-rays from passing through your body and creating a clear image.
                                            </li>
                                            <li>
                                                <i class="fa fa-dot-circle-o"></i>you may need to take a contrast material or “contrast dye” before your X-ray. This is a substance that will help improve the quality of the images. It may contain iodine or barium compounds. Depending on the reason for the X-ray, the contrast dye may be given in different ways.
                                            </li>
                                            <li>
                                                <i class="fa fa-dot-circle-o"></i> If you’re having an X-ray to examine your gastrointestinal tract, your doctor may ask you to fast for a certain amount of time beforehand. You will need to avoid eating anything while you fast. You may also need to avoid or limit drinking certain liquids. In some cases, they may also ask you to take medications to clear out your bowels.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="diagnostic">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/home/Echo.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Echocardiography</h3>
                                    </div>
                                    <div class="text">
                                        <p>Echocardiography is a test that uses sound waves to produce live images of your heart. The image is an echocardiogram. This test allows your doctor to monitor how your heart and its valves are functioning.</p>
                                        <p>An echocardiogram is key in determining the health of the heart muscle, especially after a heart attack. It can also reveal heart defects in unborn babies.</p>
                                        <ul class="content-list">
                                            <li>
                                                <i class="fa fa-dot-circle-o"></i>A transthoracic echocardiogram requires no special preparation. </li>
                                            <li>
                                                <i class="fa fa-dot-circle-o"></i>if you undergo a transesophageal echocardiogram, your doctor may instruct you not to eat anything for a few hours before the test. This is to prevent you from vomiting during the test. You may also not be able to drive for a few hours afterward due to the sedatives.</li>                                        <li>
                                            <i class="fa fa-dot-circle-o"></i> If your doctor has ordered a stress echocardiogram, wear clothes and shoes that are comfortable to exercise in.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br>
<br><br><br><br>

<!--================ Patient section start =================-->

<!--================ Hotline area starts  =================


<section class="hotline-area text-center area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Emergency hotline</h2>
                <span>(+01) – 256 567 550</span>
                <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
            </div>
        </div>
    </div>
</section>-->

<!-- ================ Hotline area ends ================= -->


<!-- ================ testimonial section start ================= -->
<section class="testimonial">
    <div class="container">
        <div class="testi_slider owl-carousel owl-theme">
            <div class="item">

                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes1.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "We are 24 hours in patients' service"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes2.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Our ICUs has a very qualified staff"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes3.jpg"  alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Nurses are trained very well"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes4.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Patients feel like they are at their homes"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
