
<!--================Home Banner Area =================-->

<section class="banner-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h1>Clinical Information System</h1>
                <!-- <a href="abou" class="main_btn">View Department</a> -->
            </div>
        </div>
    </div>
</section>

<!--================End Home Banner Area =================-->



<!--================ Service section start =================-->

<div class="service-area area-padding-top">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>Description.</h3>
            </div>
            <div>
                <p>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-face"></i> -->
                            <i class="fas fa-child"></i>
                        </span>
                    <h3 class="card-service__title">Equipments.</h3>
                    <p class="card-service__subtitle">.</p>
                    <a class="card-service__link" href="#">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-"></i> -->
                            <i class="fas fa-heartbeat"></i>
                        </span>
                    <h3 class="card-service__title">Employees. </h3>
                    <p class="card-service__subtitle">.</p>
                    <a class="card-service__link" href="#">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-brain"></i> -->
                            <i class="fas fa-brain"></i>
                        </span>
                    <h3 class="card-service__title">Dashboard.</h3>
                    <p class="card-service__subtitle">.</p>
                    <a class="card-service__link" href="#">Learn More</a>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
</div>
<div class="service-area area-padding-top">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-face"></i> -->
                            <i class="fas fa-user-md"></i>
                        </span>
                    <h3 class="card-service__title">.</h3>
                    <p class="card-service__subtitle"> .</p>
                    <a class="card-service__link" href="#">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <!-- <i class="flaticon-"></i> -->
                    <span class="card-service__icon">
                            <i class="fas fa-baby"></i>
                        </span>
                    <h3 class="card-service__title"> </h3>
                    <p class="card-service__subtitle"></p>
                    <a class="card-service__link" href="#">Learn More</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <!-- <i class="flaticon-brain"></i> -->
                            <i class="far fa-hospital"></i>
                        </span>
                    <h3 class="card-service__title"></h3>
                    <p class="card-service__subtitle"> .</p>
                    <a class="card-service__link" href="#">Learn More</a>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
</div>
<!--================ Service section end =================-->

<!--================ Patient section start =================-->
<section class="patient-area area-padding">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>Patients<br>
                    In Our ICUs</h3>
            </div>
            <div class="col-md-7 col-xl-8">
                <p>Patients may have a planned admission following surgery, an unexpected admission after an accident or be admitted because of a sudden and critical deterioration to their health.</p>

                <p>ICU teams are multi-disciplinary, made up of highly skilled intensive care nurses, doctors and specialists trained in providing critical care for patients with a variety of medical, surgical and trauma conditions.</p>

                <p>Our hospital ICUs specialise in providing care for particular health conditions or injuries including:</p>


                <p>Major trauma</p>
                <p>Severe burns</p>
                <p>Respiratory failure</p>
                <p>Organ transplants</p>
                <p>Complex spinal surgery</p>
                <p>Cardiothoracic surgery.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/1.jpg" alt="">

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/2.jpg" width="678px" height="240px"alt="">

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-team">
                    <img class="card-img rounded-0" src="images/team/3.jpg" alt="">

                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Patient section end =================-->

<!--================ Hotline area starts  =================-->


<section class="hotline-area text-center area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Emergency hotline</h2>
                <span>(+01) – 256 567 550</span>
                <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
            </div>
        </div>
    </div>
</section>

<!-- ================ Hotline area ends ================= -->


<!-- ================ testimonial section start ================= -->
<section class="testimonial">
    <div class="container">
        <div class="testi_slider owl-carousel owl-theme">
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes1.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "We are 24 hours in patients' service"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes2.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Our ICUs has a very qualified staff"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes3.jpg"  alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Nurses are trained very well"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes4.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Patients feel like they are at their homes"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

