<div class="content">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">
                <h1 class="equip">Periodic Preventive Maintenance</h1><br><br>
                <form class="" action="/PPM" method="post">
                    <label class="newequip">Department:</label>
                    <input class="inputequip" type="text" name="department" required><br><br><br>
                    <label class="newequip">Nomenclature:</label>
                    <input class="inputequip" type="text" name="nomenclature" required><br><br><br>
                    <label class="newequip">ID:</label>
                    <input class="inputequip" type="text" name="ID" required><br><br><br>
                    <label class="newequip">Serial-Number:</label>
                    <input class="inputequip" type="number" name="serialnumber" required><br><br><br>
                    <label class="newequip">Time-Period:</label>
                    <input class="inputequip" type="text" name="timeperiod" required><br><br><br>
                    <label class="newequip">From-Date:</label>
                    <input class="inputequip" type="date" name="fromdate" required><br><br><br>
                    <label class="newequip">To-Date:</label>
                    <input class="inputequip" type="date" name="todate" required><br><br><br>
                    <label class="newequip">Assigned-To:</label>
                    <input class="inputequip" type="text" name="assignedto"><br><br><br>
                    <label class="newequip">PPM-Task:</label>
                    <input class="inputequip" type="text" name="ppmtask" required><br><br><br>
                    <label class="newequip">Contract-ID:</label>
                    <input class="inputequip" type="text" name="contractid" required><br><br><br>
                    <label class="newequip">Status:</label>
                    <input class="inputequip" type="text" name="status" required><br><br><br>
                    <button class="submission"type="submit" name="submit">Submit</button><br><br>
                </form>
            </div>
            <div class="clr"></div>
        </div>
        <div class="sidebar">
            <div class="searchform">
                <form id="formsearch" name="formsearch" method="post" action="/PPM_table">
            <span>
            <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" placeholder="PPM" type="text" />
            </span>
                    <button name="button_search"  class="button_search" type="image" ><img src="images/search.gif"></button>
                </form>
            </div>
            <div class="clr"></div>
            <div class="gadget">
                <h2 class="star"><span>Contents</span> Menu</h2>
                <div class="clr"></div>
                <ul class="sb_menu">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/AddEquipment">Add New Equipment</a></li>
                    <li><a href="/Report">Report</a></li>
                    <li><a href="/Dailypass">Daily Pass</a></li>
                    <li><a href="/PPM">PPM</a></li>
                    <li><a href="/Calibration">Calibration</a></li>
                    <li><a href="/store">Store</a></li>

                </ul>
            </div>
        </div>
        <div class="clr"></div>

    </div>
    </div>