
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div
                    class="banner_content d-md-flex justify-content-between align-items-center"
            >
                <div class="mb-3 mb-md-0">
                    <h2>PPM <br>
                        Form
                    </h2>

                </div>
            </div>
        </div>
</section>
<!--================End Home Banner Area =================-->



<!--================start form  Area =================-->
<section class="appointment-area area-padding">
    <div class="container">

        <div class="appointment-inner">
            <div class="row">
                <div class="col-sm-12 col-lg-5 offset-lg-1">
                    <div class="col-lg-12">
                        <div class="appointment-form">

                            <form action="/ppm1" method="post">
                                <div class="form-group">
                                    <label for="department" >Department:</label>
                                    <select  name="department" >
                                        <option value="ICU">ICU</option>
                                        <option value="OP">OP</option>
                                        <option value="ER">ER</option>
                                        <option value="IP">IP</option>
                                        <option value="OR">OR</option>
                                        <option value="Anesthesiology">Anesthesiology</option>
                                        <option value="Cardiology">Cardiology</option>
                                        <option value="Otolaryngology">Otolaryngology</option>
                                        <option value="Urology">Urology</option>
                                        <option value="Orthopedics">Orthopedics</option>
                                        <option value="Oncology">Oncology</option>
                                        <option value="Neurology">Neurology</option>
                                        <option value="Laboratory">Laboratory</option>
                                        <option value="Obgyn">OBGYN</option>
                                        <option value="CSSD">CSSD</option>
                                        <option value="Biomedical Engineering">Biomedical-Engineering</option>
                                        <option value="Radiology">Radiology</option>
                                    </select><br><br><br>

                                    <label for="departmentcode" >Department-Code:</label>
                                    <select  name="departmentcode" >
                                        <option value="100">100-ICU</option>
                                        <option value="101">101-ICU</option>
                                        <option value="102">102-ICU</option>
                                        <option value="150">150-OP</option>
                                        <option value="151">151-OP</option>
                                        <option value="160">160-Biomedical-Engineering</option>
                                        <option value="161">161-Biomedical-Engineering</option>
                                        <option value="200">200-ER</option>
                                        <option value="201">201-ER</option>
                                        <option value="250">250-IP</option>
                                        <option value="251">251-IP</option>
                                        <option value="400">400-Radiology</option>
                                        <option value="401">401-Radiology</option>
                                        <option value="450">450-OR</option>
                                        <option value="451">451-OR</option>

                                        <option value="500">500-Anesthesiology</option>
                                        <option value="501">501-Anesthesiology</option>
                                        <option value="550">550-Cardiology</option>
                                        <option value="551">551-Cardiology</option>
                                        <option value="600">600-CSSD</option>
                                        <option value="601">601-CSSD</option>
                                        <option value="700">700-OBGYN</option>
                                        <option value="701">701-OBGYN</option>
                                        <option value="750">750-Laboratory</option>
                                        <option value="751">751-Laboratory</option>
                                        <option value="800">800-Neurology</option>
                                        <option value="801">801-Neurology</option>
                                        <option value="850">850-Oncology</option>
                                        <option value="851">851-Oncology</option>
                                        <option value="880">880-Orthopedics</option>
                                        <option value="881">881-Orthopedics</option>
                                        <option value="920">920-Otolaryngology</option>
                                        <option value="921">921-Otolaryngology</option>
                                        <option value="950">950-Urology</option>
                                        <option value="951">951-Urology</option>
                                    </select><br><br><br>
                                    <label class="newequip">Nomenclature:</label>
                                    <input class="inputequip" type="text" name="nomenclature" required><br><br><br>
                                    <label class="newequip">ID:</label>
                                    <input class="inputequip" type="text" name="ID" required><br><br><br>
                                    <label class="newequip">Time-Period:</label>
                                    <input class="inputequip" type="text" name="timeperiod" required><br><br><br>
                                    <label class="newequip">From-Date:</label>
                                    <input class="inputequip" type="date" name="fromdate" required><br><br><br>
                                    <label class="newequip">To-Date:</label>
                                    <input class="inputequip" type="date" name="todate" required><br><br><br>
                                    <label class="newequip">Contract-ID:</label>
                                    <input class="inputequip" type="text" name="contractid" ><br><br><br>
                                    <label class="newequip">PPM-Task:</label>
                                    <input class="inputtext" type="text" name="ppmtask" required><br><br><br>
                                    <button class="submission"type="submit" name="submit">Submit</button><br><br>
                                </div>
                            </form>

                        </div>

                    </div>


                </div>


            </div>

        </div>

</section>
<!-- ================ form Area ends ================= -->
section class="hotline-area text-center area-padding">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Emergency hotline</h2>
            <span>(+01) – 256 567 550</span>
            <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
        </div>
    </div>
</div>
</section>

<!-- ================ Hotline area ends ================= -->


<!-- ================ testimonial section start ================= -->
<section class="testimonial">
    <div class="container">
        <div class="testi_slider owl-carousel owl-theme">
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes1.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "We are 24 hours in patients' service"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes2.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Our ICUs has a very qualified staff"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes3.jpg"  alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Nurses are trained very well"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes4.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Patients feel like they are at their homes"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
