
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div
                    class="banner_content d-md-flex justify-content-between align-items-center"
            >
                <div class="mb-3 mb-md-0">
                    <h2>PPM <br>
                        Form
                    </h2>

                </div>
            </div>
        </div>
</section>
<!--================End Home Banner Area =================-->



<!--================start form  Area =================-->
<section class="appointment-area area-padding">
    <div class="container">

        <div class="appointment-inner">
            <div class="row">
                <div class="col-sm-12 col-lg-5 offset-lg-1">
                    <div class="col-lg-12">
                        <div class="appointment-form">

                            <form action="/ppm2" method="post">
                                <div class="form-group">
                                    <label class="newequip">ID:</label>
                                    <input class="inputequip" type="text" name="ID" required><br><br><br>
                                    <label for="assignedto" >Assigned-to:</label><br>
                                    <select  name="assignedto"  >
                                        <option value="mohamed ahmed">Mohamed Ahmed</option>
                                        <option value="maher mohamed">Maher Mohamed</option>
                                    </select><br><br><br>
                                    <label class="newequip">Status:</label>
                                    <input class="inputtext" type="text" name="status" required><br><br><br>
                                    <button class="submission"type="submit" name="submit">Submit</button><br><br>
                                </div>
                            </form>

                        </div>

                    </div>


                </div>


            </div>

        </div>

</section>
<!-- ================ form Area ends ================= -->
section class="hotline-area text-center area-padding">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Emergency hotline</h2>
            <span>(+01) – 256 567 550</span>
            <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
        </div>
    </div>
</div>
</section>

<!-- ================ Hotline area ends ================= -->


<!-- ================ testimonial section start ================= -->
<section class="testimonial">
    <div class="container">
        <div class="testi_slider owl-carousel owl-theme">
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes1.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "We are 24 hours in patients' service"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes2.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Our ICUs has a very qualified staff"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes3.jpg"  alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Nurses are trained very well"
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="testimonial_image">
                        <img src="images/elements/tes4.jpg" alt="">
                    </div>
                    <div class="testi_item_content">
                        <p font-weight="bold black">
                            "Patients feel like they are at their homes"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
