<div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h1 class="equip">Store an Equipment</h1><br><br>
          <form class="" action="/store" method="post">
              <label class="newequip">Nomenclature:</label>
              <input class="inputequip" type="text" name="nomenclature" required><br><br><br>
              <label class="newequip">Serial-Number:</label>
              <input class="inputequip" type="number" name="serialnumber" required><br><br><br>
              <label class="newequip">ID:</label>
              <input class="inputequip" type="text" name="id" required><br><br><br>
              <label class="newequip">Model:</label>
              <input class="inputequip" type="text" name="model"><br><br><br>
              <label class="newequip">Manufacturer:</label>
              <input class="inputequip" type="text" name="manufacturer" required><br><br><br>
              <label class="newequip">Local-Agent:</label>
              <input class="inputequip" type="text" name="localagent" required><br><br><br>
              <label class="newequip">Warrently-Period:</label>
              <input class="inputequip" type="month" name="warrentlyperiod" required ><br><br><br>
              <label class="newequip">Stop-production-date</label>
              <input class="inputequip" type="date" name="stopproductiondate" required><br><br><br>
              <label class="newequip">End-support-date</label>
              <input class="inputequip" type="date" name="endsupportdate" required><br><br><br>
              <button class="submission"type="submit" name="addequipment">Add-Equipment</button><br><br>
          </form>
          </div>
          <div class="clr"></div>
      </div>
      <div id="leftarea" class="sidebar">
        <div class="searchform">
          <form id="formsearch" name="formsearch" method="post" action="/store_table">
            <span>
            <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" placeholder="Search our ste:" type="text" />
            </span>
            <input name="button_search" src="images/search.gif" class="button_search" type="image" />
          </form>
        </div>
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Contents</span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
              <li><a href="/index">Home</a></li>
              <li><a href="/AddEquipment">Add New Equipment</a></li>
              <li><a href="/Report">Report</a></li>
              <li><a href="/Dailypass">Daily Pass</a></li>
              <li><a href="/PPM">PPM</a></li>
              <li><a href="/Calibration">Calibration</a></li>
              <li><a href="/store">Store</a></li>
          </ul>
        </div>
    </div>
        <div class="clr"></div>

    </div>
</div>
