@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#6d6d6d;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background-color: #daeded ;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
	width: 1060px;
	left: -100px;
	position: relative;
	/* float: left; */
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:24px;
	font-weight:normal;
	color:#6e6e6e;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#df970d;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg,.footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:1260px;
}
.logo {
	padding:0;
	float:none;
	float:left;
	width:auto;
	height:114px;
	padding-left: 20px;
	padding-top: 20px;
	position: relative;
	top: -20px;
	left: 80px;
	/* text-size-adjust: 10px; */
	/* font-size: small; */

}
h1 {
	margin:0;
	padding:32px 0 0;
	font-size:38px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
}
h1 a, h1 a:hover {
	color:#ffb300;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	font-size:13px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#7d6f6a;
}
#coin-slider {
	max-width: 100%;
}
.slider {
	padding:0 0 58px;
	background-color: #daeded;
	width: 1260px;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding:35px 0 0;
	height:48px;
	float:right;

}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:48px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 0 0 2px;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:16px 20px;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	color:#e2e7ed;
	text-decoration:none;
	text-transform:none;
	background-color: #b8b8b8;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#fff;
	background:#706e6;
}
.content {
	padding:24px 0 40px;
}
.content_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:680px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:8px;
	font-size:24px;
	line-height:1.2em;
	color:black;
}
.content .mainbar div.img {
	padding:12px 0 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
}
.content .mainbar .article {
	margin:0 0 32px;
	padding:6px 20px;
	background:#fff;
	border:1px solid #d5d2d2;
}
.content .mainbar .post_content {
	float:right;
	width:440px;
}
.content .mainbar .post_content strong {
	color:#6d6d6d;
}
.content .sidebar {
	padding:0;
	float:left;
	width:260px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:12px 0 24px;
}
.content .sidebar h2 {
	color:#6e6e6e;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#6e6e6e;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:8px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a {
	color:#6e6e6e;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#6e6e6e;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:white;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin:0 -25px 8px -25px;
	padding:8px 26px 0 26px;
	width:636px;
	height:25px;
	color:#fff;
	background-color: white;

}
p.infopost a {
	padding:0 2px;
	text-decoration:underline;
}
p.infopost a.com {
	float:right;
	margin:0;
	padding:0;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
}
p.infopost a.com:hover {
	text-decoration:underline;
}
p.infopost a.com span {
	font-weight:bold;
}
.post_content a.rm {
	display:block;
	float:left;
	margin:0 0 16px;
	padding:8px 0 0;
	width:113px;
	height:25px;
	font-size:12px;
	line-height:16px;
	font-weight:normal;
	text-transform:none;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
.post_content a.rm:hover {
	text-decoration:underline;
}
.content p.pages {
	margin:0;
	padding:24px 20px;
	font-size:11px;
	color:#6e6e6e;
	text-align:left;
	background:#fff;
	border:1px solid #d5d2d2;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#df970d;
	border:1px solid #df970d;
}
.content p.pages a {
	color:#6e6e6e;
	border:1px solid transparent;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:0;
	background-color: #daeded;
}
.fbg_resize {
	margin:0 auto;
	width:960px;
	padding:16px 0;
	color:#6e6e6e;
}
.fbg h2 {
	color:#6e6e6e;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#6e6e6e;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#df970d;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#df970d;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#6e6e6e;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:0;
	float:left;
}
#formsearch {
	margin:0;
	padding:12px 0 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:170px;
	font-size:12px;
	line-height:14px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}

a {
	outline:none;
}
.inputequip{
	float: right;
	height: 20px;
	width: 15rem;
	margin-right: 5rem;
}
.inputtext{
	float: right;
	margin-right: 5rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
	height: 60px;
	width: 30rem;
}
.newequip{
	font-size: 20px;
	margin-left: 5rem;
}
.equip{
	text-align:center;
}
.submission{
	margin-left: 30rem;
	height: 45px;
	width: 155px;
	background-color: #daeded;
}
li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: grey;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: grey;}

.dropdown:hover .dropdown-content {
	display: block;
}
.footer {
	background-color: #daeded;
	margin-top: auto;
	margin-bottom: auto;
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:960px;
	line-height:1.5em;
	color:#6b6b6b;

}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#df970d;
	font-weight:bold;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	font-size: 15px;

	background-color:transparent;
}
.footer_resize a:hover {
	color:#df970d;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}

.inputequip{
	float: right;
	height: 20px;
	width: 15rem;
	margin-right: 5rem;
}
.newequip{
	font-size: 20px;
	margin-left: 5rem;
}
.equip{
	text-align:center;
}
.submission{
	margin-left: 30rem;
	height: 45px;
	width: 155px;
	background-color: #daeded;
}
li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: grey;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: grey;}

.dropdown:hover .dropdown-content {
	display: block;
}

#leftarea{
	width: 25%;
	float: left;
	left: -150px;
	position: relative;
	/* padding-bottom: 10px; */
}
#rightarea{
	width:75%;
	float: right;
	position: relative;
	left: -80px;
	top: -180px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/



@font-face {
	font-family: OpenSans-Regular;
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
.container-table100 {
	width: 75%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	/* padding-bottom: 180px; */
	padding-left: 160px;
}


table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 2px;
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
	position: relative;
	top: 10 px;
}
table * {
	position: relative;
}
table td, table th {
	padding-left: 4px;
}
table thead tr {
	height: 60px;
	background: #4d240c;
}
table tbody tr {
	height: 50px;
}
table tbody tr:last-child {
	border: 0;
}
table td, table th {
	text-align: center;
}
table td.l, table th.l {
	text-align: center;
}
table td.c, table th.c {
	text-align: center;
}
table td.r, table th.r {
	text-align: center;
}


.table100-head th{
	font-family: OpenSans-Regular;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	font-weight: bolder;
}

tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

tbody tr {
	font-family: OpenSans-Regular;
	font-size: 10px;
	color: #808080;
	line-height: 1.2;
	font-weight: unset;
}

tbody tr:hover {
	color: #555555;
	background-color: #f5f5f5;
	cursor: pointer;
}

.column3 {
	font-size: 14px;
	font-weight: bold;
}
.column4 {
	font-size: 13px;
	font-weight: bold;
}
