<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/style1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/cufon-titillium-600.js"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
<div class="main">
    <div class="header">
        <div class="header_resize">
            <div class="logo">
                <h1>Clinical Information System Login</h1>
            </div>
            <div class="content">
                <div class="content_resize">
                    <div class="mainbar">
                        <div class="article">
                            <div class="form-group">
                                <form action="/" method="post">

                                    <label>ID:</label>
                                    <input name="id"type="text" placeholder="Your ID"  required><br>
                                    <label>Password:</label>
                                    <input name="password"type="password" placeholder="Your Password" required><br>
                                    <button class="button" id="log1but" name="login" type="submit" style="vertical-align:middle"><span>LOG IN </span></button>

                                </form>
                            </div>

                            <!-- <button type="button" name="button">Login</button> -->
                            <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:200px;margin-left:auto;margin-right:auto;display:block;margin-top:10px;margin-bottom:0%">Sign In</button> -->
                            <!-- <p style="text-align:center;padding:20px;">Don't have an Account? <a href="SignUp1.html"> Sign Up!</a></p> -->



                        </div>
                        <div class="clr"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
