<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fenixmax</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/cufon-titillium-600.js"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
<div class="main">
    <div class="header">
        <div class="header_resize">
            <div class="logo">
                <h1><a href="/index" style="text-align: right; font-wight:bold;">Fenix<span>max</span> <small>Company Slogan Here</small></a></h1>
            </div>
            <div class="menu_nav">
                <ul>
                    <li class="active"><a href="/index"><span>Home Page</span></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Equipment</a>
                        <div class="dropdown-content">
                            <a href="/AddEquipment">Add New Equipment</a>
                            <a href="#">Search for Equipment</a>
                            <a href="#">Manage Equipments</a>
                        </div>
                    </li>
                    <li><a href=""><span></span>Dashboard</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Maintainance</a>
                        <div class="dropdown-content">
                            <a href="/Report">Report</a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                    </li>
                    <li><a href="/blog"><span>Blog</span></a></li>
                    <li><a href="/Employee"><span>Employees</span></a></li>
                </ul>
            </div>
            <div class="clr"></div>
            <div class="slider" >
                <div id="coin-slider" > <a href="#"><img src="images/slide1.jpg" width="1260" height="313" alt="" /> </a> <a href="#"><img src="images/slide2.jpg" width="1260" height="313" alt="" /> </a> <a href="#"><img src="images/slide3.jpg" width="1260" height="313" alt="" /> </a> </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
{{{body}}}
    <div class="footer">
        <div class="footer_resize">
            <p class="lf">&copy; Copyright <a href="#">MyWebSite</a>.</p>
            <p class="rf">Design by Dream <a href="http://www.dreamtemplate.com/">Web Templates</a></p>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
</body>
</html>
